<div class="grid-container">
    <button *ngIf="hideButton()" (click)="addClient()" class="btn btn-primary form-group">Agregar Clientes</button>
    <div class="d-flex">
        <div class="col-md-12" style="padding-left: 0%;">
            <mat-card>
                <mat-card-header>
                <mat-card-title>Clientes</mat-card-title>
                </mat-card-header>
                
                <mat-card-content>
                <table mat-table [dataSource]="clients" style="width: 100%;" class="text-center mat-elevation-z8">

                    <ng-container matColumnDef="name">
                    <th class="text-center" mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="phone">
                    <th class="text-center" mat-header-cell *matHeaderCellDef>Teléfono</th>
                    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="address">
                    <th class="text-center" mat-header-cell *matHeaderCellDef>Dirección</th>
                    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                    </ng-container>

                    <ng-container matColumnDef="options">
                    <th class="text-center" mat-header-cell *matHeaderCellDef>Opciones</th>
                    <td mat-cell *matCellDef="let client">
                        <button mat-button (click)="editClient(client)" class="form-group ml-2"><mat-icon style="color: rgb(48, 113, 187);">edit</mat-icon></button>
                        <button mat-button (click)="deleteClient(client)" class="form-group ml-2"><mat-icon style="color: crimson;">delete</mat-icon></button>
                    </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>