<div class="grid-container">
  <div class="d-flex">
    <div class="col-md-12" style="padding-left: 0%;">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Clientes</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="table-responsive">
            <table class="text-center table">
              <thead class="">
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Dirección</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let client of clients" class="text-center">
                  <td>{{client.name}}</td>
                  <td>{{client.phone}}</td>
                  <td>{{client.address}}</td>
                  <td>
                      <button (click)="editClient(client)" class="btn btn-primary form-group ml-2">Editar</button>
                      <button (click)="deleteClient(client)" class="ml-2 btn form-group btn-danger">Borrar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>