<div class="grid-container">
    <div class="d-flex">
      <div class="col-md-12" style="padding-left: 0%;">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Clientes</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="table-responsive">
              <table class="text-center table">
                <thead class="">
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Opciones</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let client of clients" class="text-center">
                    <td>{{client.name}}</td>
                    <td>{{client.phone}}</td>
                    <td>{{client.address}}</td>
                    <td>
                      <button class="btn btn-primary">Editar</button>
                      <button (click)="deleteClient(client)" class="btn btn-danger ml-2">Borrar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <!-- <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>Card Content Here</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list> -->
  </div>