<div class="grid-container">
    <button *ngIf="hideButton()" (click)="addLoan()" class="btn btn-primary form-group">Agregar Préstamo</button>
    <div class="d-flex">
        <div class="col-md-12" style="padding-left: 0%;">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Préstamos</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="table-responsive">
                        <table class="text-center table">
                            <thead>
                                <tr>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Monto</th>
                                    <th scope="col">Número de Pagos</th>
                                    <th scope="col">Cuota</th>
                                    <th scope="col">Fecha Inicio</th>
                                    <th scope="col">Fecha Termino</th>
                                    <th scope="col">Opciones</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let loan of loans" class="text-center">
                                    <td>{{loan.name}}</td>
                                    <td>{{loan.amount}}</td>
                                    <td>{{loan.payments_number}}</td>
                                    <td>{{loan.fee}}</td>
                                    <td>{{loan.ministry_date | date:'shortDate'}}</td>
                                    <td>{{loan.due_date | date:'shortDate'}}</td>
                                    <td>
                                        <button (click)="pay()" class="btn btn-success form-group ml-2">Editar</button>
                                        <button (click)="deleteLoan()" class="btn btn-danger form-group ml-2">Borrar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
